#with-tooltip {
    position: relative;
}

#with-tooltip .custom-tooltip {
    display: none;
    position: absolute;
    left: 0; 
    bottom: 20px;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    background-color: #262e63;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
}

#with-tooltip:hover .custom-tooltip {
    display: block;
}