<div>
    <form class="custom-form">
        <ul class="form-sections-list">
            <li class="form-section">
                <div class="form-control-container">
                    <label class="control-name">From</label>
                    <input class="form-control">
                </div>
                <div class="form-control-container">
                    <label class="control-name">To</label>
                    <input class="form-control">
                </div>
                <div class="form-control-container">
                    <label class="control-name">Departure time</label>
                    <input class="form-control">
                </div>
                <div class="form-control-container">
                    <label class="control-name">Arrival time</label>
                    <input class="form-control">
                </div>
                <div class="search-button-container">
                    <button class="search-button">
                        Search
                    </button>
                </div>
            </li>
        </ul>
    </form>
</div>